<a href="https://colab.research.google.com/github/EandroC/JornadaDeDados-EandroCleiton/blob/main/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise Exploratória de Dados com Python: State of Data Brazil

## EBAC
Ministrado pelo pelo professor André Perez

## Aula 01 - Introdução
Conhecendo o notebook que será utilizado durante as aulas e atividades.

In [549]:
# Célula de código
print('Hello World!')

Hello World!

## Aula 02 - Exploração

mode = "r" é apenas para ler o arquivo se fosse para também modificar seria mode= "w"

In [550]:
with open(file = "State_of_data_2022.csv", mode="r") as fp:
  header = fp.readline()

Conferindo o tipo da variável.

In [551]:
type(header)

str

Exibindo os cabeçalhos que foram armazenados na variável.

In [552]:
print(header[0:200])

"('P0', 'id')","('P1_a ', 'Idade')","('P1_a_1 ', 'Faixa idade')","('P1_b ', 'Genero')","('P1_c ', 'Cor/raca/etnia')","('P1_d ', 'PCD')","('P1_e ', 'experiencia_profissional_prejudicada')","('P1_f ', '

Tranformando a variável em uma lista, usando sep='","' para definir o fim de cada dados presente na lista.

In [553]:
header = header.split(sep = '","')

In [554]:
type(header)

list

In [555]:
print(header[0])

"('P0', 'id')

Como estão sendo buscadas informações sobre salário, cargo e nivél profissional é de se imaginar que colunas com P2(Dados sobre carreira) sejam as de interesse.
O for irá exibir então apenas as coluna com P2.

In [556]:
for column, column_name in enumerate(header):
  if 'P2' in column_name:
    print(str(column)+''+ column_name)

16('P2_a ', 'Qual sua situação atual de trabalho?')
17('P2_b ', 'Setor')
18('P2_c ', 'Numero de Funcionarios')
19('P2_d ', 'Gestor?')
20('P2_e ', 'Cargo como Gestor')
21('P2_f ', 'Cargo Atual')
22('P2_g ', 'Nivel')
23('P2_h ', 'Faixa salarial')
24('P2_i ', 'Quanto tempo de experiência na área de dados você tem?')
25('P2_j ', 'Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?')
26('P2_k ', 'Você está satisfeito na sua empresa atual?')
27('P2_l ', 'Qual o principal motivo da sua insatisfação com a empresa atual?')
28('P2_l_1 ', 'Falta de oportunidade de crescimento no emprego atual')
29('P2_l_2 ', 'Salário atual não corresponde ao mercado')
30('P2_l_3 ', 'Não tenho uma boa relação com meu líder/gestor')
31('P2_l_4 ', 'Gostaria de trabalhar em em outra área de atuação')
32('P2_l_5 ', 'Gostaria de receber mais benefícios')
33('P2_l_6 ', 'O clima de trabalho/ambiente não é bom')
34('P2_l_7 ', 'Falta de maturidade analítica na empresa')
35('P2_m ', 'Você participou de entrevistas de emprego nos últimos 6 meses?')
36('P2_n ', 'Você pretende mudar de emprego nos próximos 6 meses?')
37('P2_o ', 'Quais os principais critérios que você leva em consideração no momento de decidir onde trabalhar?')
38('P2_o_1 ', 'Remuneração/Salário')
39('P2_o_2 ', 'Benefícios')
40('P2_o_3 ', 'Propósito do trabalho e da empresa')
41('P2_o_4 ', 'Flexibilidade de trabalho remoto')
42('P2_o_5 ', 'Ambiente e clima de trabalho')
43('P2_o_6 ', 'Oportunidade de aprendizado e trabalhar com referências na área')
44('P2_o_7 ', 'Plano de carreira e oportunidades de crescimento profissional')
45('P2_o_8 ', 'Maturidade da empresa em termos de tecnologia e dados')
46('P2_o_9 ', 'Qualidade dos gestores e líderes')
47('P2_o_10 ', 'Reputação que a empresa tem no mercado')
48('P2_p ', 'Atualmente qual a sua forma de trabalho?')
49('P2_q ', 'Qual a forma de trabalho ideal para você?')
50('P2_r ', 'Caso sua empresa decida pelo modelo 100% presencial qual será sua atitude?')
51('P2_s ', 'Sua empresa passu por Layoff em 2022?')

Foram achadas 3 colunas:
*   21('P2_f ', 'Cargo Atual')
*   22('P2_g ', 'Nivel')
*   23('P2_h ', 'Faixa salarial')

Conferir os tipos e categorias de cada coluna.

In [557]:
with open(file="State_of_data_2022.csv", mode="r") as fp:
  header = fp.readline()

  for _ in range(10):
    line = fp.readline()
    line = line.split(sep=',')
    print({"Cargo": line[21], "Experiencia": line[22], "Salário": line[23]})

{'Cargo': 'DBA/Administrador de Banco de Dados', 'Experiencia': 'Júnior', 'Salário': 'de R$ 8.001/mês a R$ 12.000/mês'}
{'Cargo': 'Supervisor/Coordenador', 'Experiencia': '', 'Salário': ''}
{'Cargo': 'Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas', 'Experiencia': 'Pleno', 'Salário': 'de R$ 12.001/mês a R$ 16.000/mês'}
{'Cargo': 'Cientista de Dados/Data Scientist', 'Experiencia': 'Sênior', 'Salário': 'de R$ 12.001/mês a R$ 16.000/mês'}
{'Cargo': 'Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas', 'Experiencia': 'Pleno', 'Salário': 'de R$ 6.001/mês a R$ 8.000/mês'}
{'Cargo': 'Professor', 'Experiencia': 'Pleno', 'Salário': 'de R$ 2.001/mês a R$ 3.000/mês'}
{'Cargo': 'Analista de BI/BI Analyst', 'Experiencia': 'Júnior', 'Salário': 'de R$ 4.001/mês a R$ 6.000/mês'}
{'Cargo': 'Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas', 'Experiencia': 'Júnior', 'Salário': 'de R$ 2.001/mês a R$ 3.000/mês'}
{'Cargo': 'Analista de BI/BI Analyst', 'Experiencia': 'Sênior', 'Salário': 'de R$ 6.001/mês a R$ 8.000/mês'}
{'Cargo': 'Professor', 'Experiencia': 'Pleno', 'Salário': 'de R$ 8.001/mês a R$ 12.000/mês'}

## Aula 03 - Processamento

In [558]:
data = list() # Lista vazia

with open(file="State_of_data_2022.csv", mode="r") as fp:
  header = fp.readline()
  line = fp.readline()

  while line:
    line = line.split(sep=',') # linha como lista
    data.append({"Cargo": line[21], "Experiencia": line[22], "Salário": line[23]}) # Adicionando na lista criada
    line = fp.readline() # linhas como texto

for datum in data[0:10]: #Percorrendo os dez primeiros elementod da lista já preenchida
  print(datum)

{'Cargo': 'DBA/Administrador de Banco de Dados', 'Experiencia': 'Júnior', 'Salário': 'de R$ 8.001/mês a R$ 12.000/mês'}
{'Cargo': 'Supervisor/Coordenador', 'Experiencia': '', 'Salário': ''}
{'Cargo': 'Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas', 'Experiencia': 'Pleno', 'Salário': 'de R$ 12.001/mês a R$ 16.000/mês'}
{'Cargo': 'Cientista de Dados/Data Scientist', 'Experiencia': 'Sênior', 'Salário': 'de R$ 12.001/mês a R$ 16.000/mês'}
{'Cargo': 'Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas', 'Experiencia': 'Pleno', 'Salário': 'de R$ 6.001/mês a R$ 8.000/mês'}
{'Cargo': 'Professor', 'Experiencia': 'Pleno', 'Salário': 'de R$ 2.001/mês a R$ 3.000/mês'}
{'Cargo': 'Analista de BI/BI Analyst', 'Experiencia': 'Júnior', 'Salário': 'de R$ 4.001/mês a R$ 6.000/mês'}
{'Cargo': 'Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas', 'Experiencia': 'Júnior', 'Salário': 'de R$ 2.001/mês a R$ 3.000/mês'}
{'Cargo': 'Analista de BI/BI Analyst', 'Experiencia': 'Sênior', 'Salário': 'de R$ 6.001/mês a R$ 8.000/mês'}
{'Cargo': 'Professor', 'Experiencia': 'Pleno', 'Salário': 'de R$ 8.001/mês a R$ 12.000/mês'}

In [559]:
# Verificando o tamanho da lista
len(data)

4271

### Iniciando o trabalho com a biblioteca Pandas

In [560]:
import pandas as pd

Criando uma tabela com os elementos da lista criada

In [561]:
data_table = pd.DataFrame(data)

data_table.head()

,Cargo,Experiencia,Salário
0,DBA/Administrador de Banco de Dados,Júnior,de R$ 8.001/mês a R$ 12.000/mês
1,Supervisor/Coordenador,,
2,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 12.001/mês a R$ 16.000/mês
3,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês
4,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 6.001/mês a R$ 8.000/mês

In [562]:
data_table.head(n=15) #Definindo a quantidade de linhas que devem ser exibidas

,Cargo,Experiencia,Salário
0,DBA/Administrador de Banco de Dados,Júnior,de R$ 8.001/mês a R$ 12.000/mês
1,Supervisor/Coordenador,,
2,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 12.001/mês a R$ 16.000/mês
3,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês
4,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 6.001/mês a R$ 8.000/mês
5,Professor,Pleno,de R$ 2.001/mês a R$ 3.000/mês
6,Analista de BI/BI Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
7,Desenvolvedor/ Engenheiro de Software/ Analist...,Júnior,de R$ 2.001/mês a R$ 3.000/mês
8,Analista de BI/BI Analyst,Sênior,de R$ 6.001/mês a R$ 8.000/mês
9,Professor,Pleno,de R$ 8.001/mês a R$ 12.000/mês
10,Analista de BI/BI Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês
11,Analista de Inteligência de Mercado/Market Int...,Sênior,de R$ 8.001/mês a R$ 12.000/mês
12,,,
13,Analista de Negócios/Business Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
14,Varejo,Acima de 3.000,FALSE

In [563]:
data_table.shape # Proporção da tabela

(4271, 3)

In [564]:
data_table.to_csv("data.csv", header=True, index=False) # Criando novo CSV com a nova tabela feita

### Tratando os dados

#### Removendo linhas com células vazias

In [565]:
data_table = data_table.replace('', pd.NA) # Substituindo celulas vazias por NaN

data_table.head(n=15)

,Cargo,Experiencia,Salário
0,DBA/Administrador de Banco de Dados,Júnior,de R$ 8.001/mês a R$ 12.000/mês
1,Supervisor/Coordenador,<NA>,<NA>
2,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 12.001/mês a R$ 16.000/mês
3,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês
4,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 6.001/mês a R$ 8.000/mês
5,Professor,Pleno,de R$ 2.001/mês a R$ 3.000/mês
6,Analista de BI/BI Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
7,Desenvolvedor/ Engenheiro de Software/ Analist...,Júnior,de R$ 2.001/mês a R$ 3.000/mês
8,Analista de BI/BI Analyst,Sênior,de R$ 6.001/mês a R$ 8.000/mês
9,Professor,Pleno,de R$ 8.001/mês a R$ 12.000/mês
10,Analista de BI/BI Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês
11,Analista de Inteligência de Mercado/Market Int...,Sênior,de R$ 8.001/mês a R$ 12.000/mês
12,<NA>,<NA>,<NA>
13,Analista de Negócios/Business Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
14,Varejo,Acima de 3.000,FALSE

In [566]:
data_table = data_table.dropna() # Removendo linhas com esses valores NaN

data_table.head(n=15)

,Cargo,Experiencia,Salário
0,DBA/Administrador de Banco de Dados,Júnior,de R$ 8.001/mês a R$ 12.000/mês
2,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 12.001/mês a R$ 16.000/mês
3,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês
4,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 6.001/mês a R$ 8.000/mês
5,Professor,Pleno,de R$ 2.001/mês a R$ 3.000/mês
6,Analista de BI/BI Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
7,Desenvolvedor/ Engenheiro de Software/ Analist...,Júnior,de R$ 2.001/mês a R$ 3.000/mês
8,Analista de BI/BI Analyst,Sênior,de R$ 6.001/mês a R$ 8.000/mês
9,Professor,Pleno,de R$ 8.001/mês a R$ 12.000/mês
10,Analista de BI/BI Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês
11,Analista de Inteligência de Mercado/Market Int...,Sênior,de R$ 8.001/mês a R$ 12.000/mês
13,Analista de Negócios/Business Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
14,Varejo,Acima de 3.000,FALSE
15,Analista de BI/BI Analyst,Pleno,de R$ 4.001/mês a R$ 6.000/mês
18,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 6.001/mês a R$ 8.000/mês

In [567]:
data_table.shape # Tamanho após as remoções

(2790, 3)

#### Removendo inconsistências

##### Analisando quais são as categorias da coluna 'Salário'

In [568]:
data_table['Salário'].unique()

array(['de R$ 8.001/mês a R$ 12.000/mês',
       'de R$ 12.001/mês a R$ 16.000/mês',
       'de R$ 6.001/mês a R$ 8.000/mês', 'de R$ 2.001/mês a R$ 3.000/mês',
       'de R$ 4.001/mês a R$ 6.000/mês', 'de R$ 3.001/mês a R$ 4.000/mês',
       'FALSE', 'Empregado (CLT)', 'TRUE',
       'de R$ 1.001/mês a R$ 2.000/mês', 'Menos de R$ 1.000/mês',
       'de 11 a 50', ' CIO', 'de R$ 25.001/mês a R$ 30.000/mês',
       'Sudeste', 'de R$ 20.001/mês a R$ 25.000/mês',
       'de R$ 30.001/mês a R$ 40.000/mês', 'Seguros ou Previdência',
       'de 101 a 500', 'Acima de R$ 40.001/mês', ' CTO etc)"',
       'de R$ 16.001/mês a R$ 20.000/mês',
       'Tecnologia/Fábrica de Software', 'de 1.001 a 3.000', 'de 1 a 5',
       'Norte', 'Gerente/Head', 'Supervisor/Coordenador', 'Setor Público',
       'Área de Consultoria', 'Acima de 3.000',
       'Empreendedor ou Empregado (CNPJ)', 'Internet/Ecommerce',
       'de 501 a 1.000', 'Finanças ou Bancos', ' buscando recolocação"',
       'Outra Opção', 'SP', 'Trabalho na área Acadêmica/Pesquisador',
       'Outras Engenharias', 'Sul', 'Varejo', 'de 51 a 100',
       'Servidor Público', 'Nordeste', 'PB',
       'Vivo fora do Brasil e trabalho para empresa de fora do Brasil',
       'Setor Imobiliário/ Construção Civil', 'Setor de Energia',
       'Marketing',
       'Computação / Engenharia de Software / Sistemas de Informação/ TI',
       'Estagiário', 'São Paulo (SP)', 'BA', 'Setor Alimentício',
       'Setor Automotivo', 'Área da Saúde', 'Telecomunicação', 'SC',
       'Educação', 'Indústria',
       'Vivo no Brasil e trabalho remoto para empresa de fora do Brasil',
       'Freelancer', '"Desempregado', 'MG', 'Graduação/Bacharelado',
       'Pernambuco (PE)', 'de 6 a 10', 'Outra opção'], dtype=object)

Aparentemente as categorias corretas são as que possuem R$ na string

In [569]:
# Aplicando a mesma coisa em células da coluna salário que estão foram do padrão
data_table_copy = data_table.copy()
data_table_copy['Salário'] = data_table_copy['Salário'].apply(lambda row: row if 'R$' in row else pd.NA)

# Agora, atribuir a cópia de volta ao DataFrame original usando .loc[]
data_table.loc[:, 'Salário'] = data_table_copy['Salário']

data_table.head(n=15)

,Cargo,Experiencia,Salário
0,DBA/Administrador de Banco de Dados,Júnior,de R$ 8.001/mês a R$ 12.000/mês
2,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 12.001/mês a R$ 16.000/mês
3,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês
4,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 6.001/mês a R$ 8.000/mês
5,Professor,Pleno,de R$ 2.001/mês a R$ 3.000/mês
6,Analista de BI/BI Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
7,Desenvolvedor/ Engenheiro de Software/ Analist...,Júnior,de R$ 2.001/mês a R$ 3.000/mês
8,Analista de BI/BI Analyst,Sênior,de R$ 6.001/mês a R$ 8.000/mês
9,Professor,Pleno,de R$ 8.001/mês a R$ 12.000/mês
10,Analista de BI/BI Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês
11,Analista de Inteligência de Mercado/Market Int...,Sênior,de R$ 8.001/mês a R$ 12.000/mês
13,Analista de Negócios/Business Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
14,Varejo,Acima de 3.000,<NA>
15,Analista de BI/BI Analyst,Pleno,de R$ 4.001/mês a R$ 6.000/mês
18,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 6.001/mês a R$ 8.000/mês

In [570]:
data_table = data_table.dropna()

data_table.head(n=15)

,Cargo,Experiencia,Salário
0,DBA/Administrador de Banco de Dados,Júnior,de R$ 8.001/mês a R$ 12.000/mês
2,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 12.001/mês a R$ 16.000/mês
3,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês
4,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 6.001/mês a R$ 8.000/mês
5,Professor,Pleno,de R$ 2.001/mês a R$ 3.000/mês
6,Analista de BI/BI Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
7,Desenvolvedor/ Engenheiro de Software/ Analist...,Júnior,de R$ 2.001/mês a R$ 3.000/mês
8,Analista de BI/BI Analyst,Sênior,de R$ 6.001/mês a R$ 8.000/mês
9,Professor,Pleno,de R$ 8.001/mês a R$ 12.000/mês
10,Analista de BI/BI Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês
11,Analista de Inteligência de Mercado/Market Int...,Sênior,de R$ 8.001/mês a R$ 12.000/mês
13,Analista de Negócios/Business Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
15,Analista de BI/BI Analyst,Pleno,de R$ 4.001/mês a R$ 6.000/mês
18,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 6.001/mês a R$ 8.000/mês
22,Product Manager/ Product Owner (PM/APM/DPM/GPM...,Pleno,de R$ 6.001/mês a R$ 8.000/mês

In [571]:
data_table.shape

(2386, 3)

#### Definindo as categorias de interesse da coluna 'Cargo'

In [572]:
data_table['Cargo'].unique()

array(['DBA/Administrador de Banco de Dados',
       'Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas',
       'Cientista de Dados/Data Scientist', 'Professor',
       'Analista de BI/BI Analyst',
       'Analista de Inteligência de Mercado/Market Intelligence',
       'Analista de Negócios/Business Analyst',
       'Engenheiro de Dados/Arquiteto de Dados/Data Engineer/Data Architect',
       'Product Manager/ Product Owner (PM/APM/DPM/GPM/PO)',
       'Analista de Dados/Data Analyst',
       'Analista de Suporte/Analista Técnico', 'Outra Opção',
       'Engenheiro de Machine Learning/ML Engineer', 'Analytics Engineer',
       'Analista de Marketing', 'Outras Engenharias (não inclui dev)',
       'Economista', 'Estatístico'], dtype=object)

Os cargos necessários são:

*    'Analista de Dados/Data Analyst',
*    'Cientista de Dados/Data Scientist',
*    'Engenheiro de Dados/Arquiteto de Dados/Data Engineer/Data Architect'

In [573]:
positions = ['Analista de Dados/Data Analyst',
             'Cientista de Dados/Data Scientist',
             'Engenheiro de Dados/Arquiteto de Dados/Data Engineer/Data Architect',
]

In [574]:
data_table_copy = data_table.copy()
data_table_copy['Cargo'] = data_table_copy['Cargo'].apply(lambda row: row if row in positions else pd.NA)

data_table.loc[:, 'Cargo'] = data_table_copy['Cargo'].values

data_table['Cargo'].head(15)

0                                                  <NA>
2                                                  <NA>
3                     Cientista de Dados/Data Scientist
4                                                  <NA>
5                                                  <NA>
6                                                  <NA>
7                                                  <NA>
8                                                  <NA>
9                                                  <NA>
10                                                 <NA>
11                                                 <NA>
13                                                 <NA>
15                                                 <NA>
18    Engenheiro de Dados/Arquiteto de Dados/Data En...
22                                                 <NA>
Name: Cargo, dtype: object

In [575]:
data_table = data_table.dropna()

data_table.head(n=15)

,Cargo,Experiencia,Salário
3,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês
18,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 6.001/mês a R$ 8.000/mês
23,Engenheiro de Dados/Arquiteto de Dados/Data En...,Sênior,de R$ 12.001/mês a R$ 16.000/mês
29,Cientista de Dados/Data Scientist,Júnior,de R$ 8.001/mês a R$ 12.000/mês
30,Analista de Dados/Data Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês
31,Engenheiro de Dados/Arquiteto de Dados/Data En...,Júnior,de R$ 2.001/mês a R$ 3.000/mês
37,Engenheiro de Dados/Arquiteto de Dados/Data En...,Júnior,de R$ 2.001/mês a R$ 3.000/mês
41,Engenheiro de Dados/Arquiteto de Dados/Data En...,Júnior,de R$ 4.001/mês a R$ 6.000/mês
45,Cientista de Dados/Data Scientist,Sênior,de R$ 6.001/mês a R$ 8.000/mês
49,Engenheiro de Dados/Arquiteto de Dados/Data En...,Sênior,de R$ 8.001/mês a R$ 12.000/mês
51,Cientista de Dados/Data Scientist,Pleno,de R$ 6.001/mês a R$ 8.000/mês
53,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 8.001/mês a R$ 12.000/mês
57,Analista de Dados/Data Analyst,Sênior,de R$ 4.001/mês a R$ 6.000/mês
58,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 8.001/mês a R$ 12.000/mês
61,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês

In [576]:
data_table.shape

(1336, 3)

#### Renomeando categorias da coluna 'Cargo'

In [582]:
labels = ['Analista', 'Cientista', 'Engenheira']
labels = dict(zip(positions, labels))

print(labels)

data_table.loc[:, 'Cargo'] = data_table['Cargo'].apply(lambda row: labels.get(row, row))



data_table.head(n=15)

{'Analista de Dados/Data Analyst': 'Analista', 'Cientista de Dados/Data Scientist': 'Cientista', 'Engenheiro de Dados/Arquiteto de Dados/Data Engineer/Data Architect': 'Engenheira'}

         Cargo Experiencia                           Salário
3    Cientista      Sênior  de R$ 12.001/mês a R$ 16.000/mês
18  Engenheira       Pleno    de R$ 6.001/mês a R$ 8.000/mês
23  Engenheira      Sênior  de R$ 12.001/mês a R$ 16.000/mês
29   Cientista      Júnior   de R$ 8.001/mês a R$ 12.000/mês
30    Analista      Júnior    de R$ 3.001/mês a R$ 4.000/mês
31  Engenheira      Júnior    de R$ 2.001/mês a R$ 3.000/mês
37  Engenheira      Júnior    de R$ 2.001/mês a R$ 3.000/mês
41  Engenheira      Júnior    de R$ 4.001/mês a R$ 6.000/mês
45   Cientista      Sênior    de R$ 6.001/mês a R$ 8.000/mês
49  Engenheira      Sênior   de R$ 8.001/mês a R$ 12.000/mês
51   Cientista       Pleno    de R$ 6.001/mês a R$ 8.000/mês
53  Engenheira       Pleno   de R$ 8.001/mês a R$ 12.000/mês
57    Analista      Sênior    de R$ 4.001/mês a R$ 6.000/mês
58  Engenheira       Pleno   de R$ 8.001/mês a R$ 12.000/mês
61   Cientista      Sênior  de R$ 12.001/mês a R$ 16.000/mês

#### Verificando categorias de cada coluna da tabela

In [578]:
data_table['Cargo'].unique()

array(['Cientista', 'Engenheira', 'Analista'], dtype=object)

In [579]:
data_table['Experiencia'].unique()

array(['Sênior', 'Pleno', 'Júnior'], dtype=object)

In [580]:
data_table['Salário'].unique()

array(['de R$ 12.001/mês a R$ 16.000/mês',
       'de R$ 6.001/mês a R$ 8.000/mês',
       'de R$ 8.001/mês a R$ 12.000/mês',
       'de R$ 3.001/mês a R$ 4.000/mês', 'de R$ 2.001/mês a R$ 3.000/mês',
       'de R$ 4.001/mês a R$ 6.000/mês',
       'de R$ 25.001/mês a R$ 30.000/mês',
       'de R$ 30.001/mês a R$ 40.000/mês',
       'de R$ 1.001/mês a R$ 2.000/mês', 'Acima de R$ 40.001/mês',
       'de R$ 20.001/mês a R$ 25.000/mês',
       'de R$ 16.001/mês a R$ 20.000/mês', 'Menos de R$ 1.000/mês'],
      dtype=object)

#### Fazendo novo CSV com a tabela já tratada

In [581]:
data_table.to_csv("data.csv", header=True, index=False)