<a href="https://colab.research.google.com/github/EandroC/JornadaDeDados-EandroCleiton/blob/main/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise Exploratória de Dados com Python: State of Data Brazil

## EBAC
Ministrado pelo pelo professor André Perez

## Aula 01 - Introdução
Conhecendo o notebook que será utilizado durante as aulas e atividades.

In [37]:
# Célula de código
print('Hello World!')

Hello World!

## Aula 02 - Exploração

mode = "r" é apenas para ler o arquivo se fosse para também modificar seria mode= "w"

In [38]:
with open(file = "State_of_data_2022.csv", mode="r") as fp:
  header = fp.readline()

Conferindo o tipo da variável.

In [39]:
type(header)

str

Exibindo os cabeçalhos que foram armazenados na variável.

In [40]:
print(header[0:200])

"('P0', 'id')","('P1_a ', 'Idade')","('P1_a_1 ', 'Faixa idade')","('P1_b ', 'Genero')","('P1_c ', 'Cor/raca/etnia')","('P1_d ', 'PCD')","('P1_e ', 'experiencia_profissional_prejudicada')","('P1_f ', '

Tranformando a variável em uma lista, usando sep='","' para definir o fim de cada dados presente na lista.

In [41]:
header = header.split(sep = '","')

In [42]:
type(header)

list

In [43]:
print(header[0])

"('P0', 'id')

Como estão sendo buscadas informações sobre salário, cargo e nivél profissional é de se imaginar que colunas com P2(Dados sobre carreira) sejam as de interesse.
O for irá exibir então apenas as coluna com P2.

In [44]:
for column, column_name in enumerate(header):
  if 'P2' in column_name:
    print(str(column)+''+ column_name)

16('P2_a ', 'Qual sua situação atual de trabalho?')
17('P2_b ', 'Setor')
18('P2_c ', 'Numero de Funcionarios')
19('P2_d ', 'Gestor?')
20('P2_e ', 'Cargo como Gestor')
21('P2_f ', 'Cargo Atual')
22('P2_g ', 'Nivel')
23('P2_h ', 'Faixa salarial')
24('P2_i ', 'Quanto tempo de experiência na área de dados você tem?')
25('P2_j ', 'Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?')
26('P2_k ', 'Você está satisfeito na sua empresa atual?')
27('P2_l ', 'Qual o principal motivo da sua insatisfação com a empresa atual?')
28('P2_l_1 ', 'Falta de oportunidade de crescimento no emprego atual')
29('P2_l_2 ', 'Salário atual não corresponde ao mercado')
30('P2_l_3 ', 'Não tenho uma boa relação com meu líder/gestor')
31('P2_l_4 ', 'Gostaria de trabalhar em em outra área de atuação')
32('P2_l_5 ', 'Gostaria de receber mais benefícios')
33('P2_l_6 ', 'O clima de trabalho/ambiente não é bom')
34('P2_l_7 ', 'Falta de maturidade analítica na empresa')
35('P2_m ', 'Você participou de entrevistas de emprego nos últimos 6 meses?')
36('P2_n ', 'Você pretende mudar de emprego nos próximos 6 meses?')
37('P2_o ', 'Quais os principais critérios que você leva em consideração no momento de decidir onde trabalhar?')
38('P2_o_1 ', 'Remuneração/Salário')
39('P2_o_2 ', 'Benefícios')
40('P2_o_3 ', 'Propósito do trabalho e da empresa')
41('P2_o_4 ', 'Flexibilidade de trabalho remoto')
42('P2_o_5 ', 'Ambiente e clima de trabalho')
43('P2_o_6 ', 'Oportunidade de aprendizado e trabalhar com referências na área')
44('P2_o_7 ', 'Plano de carreira e oportunidades de crescimento profissional')
45('P2_o_8 ', 'Maturidade da empresa em termos de tecnologia e dados')
46('P2_o_9 ', 'Qualidade dos gestores e líderes')
47('P2_o_10 ', 'Reputação que a empresa tem no mercado')
48('P2_p ', 'Atualmente qual a sua forma de trabalho?')
49('P2_q ', 'Qual a forma de trabalho ideal para você?')
50('P2_r ', 'Caso sua empresa decida pelo modelo 100% presencial qual será sua atitude?')
51('P2_s ', 'Sua empresa passu por Layoff em 2022?')

Foram achadas 3 colunas:
*   21('P2_f ', 'Cargo Atual')
*   22('P2_g ', 'Nivel')
*   23('P2_h ', 'Faixa salarial')

Conferir os tipos e categorias de cada coluna.

In [45]:
with open(file="State_of_data_2022.csv", mode="r") as fp:
  header = fp.readline()

  for _ in range(10):
    line = fp.readline()
    line = line.split(sep=',')
    print({"Cargo": line[21], "Experiencia": line[22], "Salário": line[23]})

{'Cargo': 'DBA/Administrador de Banco de Dados', 'Experiencia': 'Júnior', 'Salário': 'de R$ 8.001/mês a R$ 12.000/mês'}
{'Cargo': 'Supervisor/Coordenador', 'Experiencia': '', 'Salário': ''}
{'Cargo': 'Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas', 'Experiencia': 'Pleno', 'Salário': 'de R$ 12.001/mês a R$ 16.000/mês'}
{'Cargo': 'Cientista de Dados/Data Scientist', 'Experiencia': 'Sênior', 'Salário': 'de R$ 12.001/mês a R$ 16.000/mês'}
{'Cargo': 'Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas', 'Experiencia': 'Pleno', 'Salário': 'de R$ 6.001/mês a R$ 8.000/mês'}
{'Cargo': 'Professor', 'Experiencia': 'Pleno', 'Salário': 'de R$ 2.001/mês a R$ 3.000/mês'}
{'Cargo': 'Analista de BI/BI Analyst', 'Experiencia': 'Júnior', 'Salário': 'de R$ 4.001/mês a R$ 6.000/mês'}
{'Cargo': 'Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas', 'Experiencia': 'Júnior', 'Salário': 'de R$ 2.001/mês a R$ 3.000/mês'}
{'Cargo': 'Analista de BI/BI Analyst', 'Experiencia': 'Sênior', 'Salário': 'de R$ 6.001/mês a R$ 8.000/mês'}
{'Cargo': 'Professor', 'Experiencia': 'Pleno', 'Salário': 'de R$ 8.001/mês a R$ 12.000/mês'}

## Aula 03 - Processamento

In [46]:
data = list() # Lista vazia

with open(file="State_of_data_2022.csv", mode="r") as fp:
  header = fp.readline()
  line = fp.readline()

  while line:
    line = line.split(sep=',') # linha como lista
    data.append({"Cargo": line[21], "Experiencia": line[22], "Salário": line[23]}) # Adicionando na lista criada
    line = fp.readline() # linhas como texto

for datum in data[0:10]: #Percorrendo os dez primeiros elementod da lista já preenchida
  print(datum)

{'Cargo': 'DBA/Administrador de Banco de Dados', 'Experiencia': 'Júnior', 'Salário': 'de R$ 8.001/mês a R$ 12.000/mês'}
{'Cargo': 'Supervisor/Coordenador', 'Experiencia': '', 'Salário': ''}
{'Cargo': 'Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas', 'Experiencia': 'Pleno', 'Salário': 'de R$ 12.001/mês a R$ 16.000/mês'}
{'Cargo': 'Cientista de Dados/Data Scientist', 'Experiencia': 'Sênior', 'Salário': 'de R$ 12.001/mês a R$ 16.000/mês'}
{'Cargo': 'Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas', 'Experiencia': 'Pleno', 'Salário': 'de R$ 6.001/mês a R$ 8.000/mês'}
{'Cargo': 'Professor', 'Experiencia': 'Pleno', 'Salário': 'de R$ 2.001/mês a R$ 3.000/mês'}
{'Cargo': 'Analista de BI/BI Analyst', 'Experiencia': 'Júnior', 'Salário': 'de R$ 4.001/mês a R$ 6.000/mês'}
{'Cargo': 'Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas', 'Experiencia': 'Júnior', 'Salário': 'de R$ 2.001/mês a R$ 3.000/mês'}
{'Cargo': 'Analista de BI/BI Analyst', 'Experiencia': 'Sênior', 'Salário': 'de R$ 6.001/mês a R$ 8.000/mês'}
{'Cargo': 'Professor', 'Experiencia': 'Pleno', 'Salário': 'de R$ 8.001/mês a R$ 12.000/mês'}

In [47]:
# Verificando o tamanho da lista
len(data)

4271

### Iniciando o trabalho com a biblioteca Pandas

In [48]:
import pandas as pd

Criando uma tabela com os elementos da lista criada

In [49]:
data_table = pd.DataFrame(data)

data_table.head()

,Cargo,Experiencia,Salário
0,DBA/Administrador de Banco de Dados,Júnior,de R$ 8.001/mês a R$ 12.000/mês
1,Supervisor/Coordenador,,
2,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 12.001/mês a R$ 16.000/mês
3,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês
4,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 6.001/mês a R$ 8.000/mês

In [50]:
data_table.head(n=15) #Definindo a quantidade de linhas que devem ser exibidas

,Cargo,Experiencia,Salário
0,DBA/Administrador de Banco de Dados,Júnior,de R$ 8.001/mês a R$ 12.000/mês
1,Supervisor/Coordenador,,
2,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 12.001/mês a R$ 16.000/mês
3,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês
4,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 6.001/mês a R$ 8.000/mês
5,Professor,Pleno,de R$ 2.001/mês a R$ 3.000/mês
6,Analista de BI/BI Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
7,Desenvolvedor/ Engenheiro de Software/ Analist...,Júnior,de R$ 2.001/mês a R$ 3.000/mês
8,Analista de BI/BI Analyst,Sênior,de R$ 6.001/mês a R$ 8.000/mês
9,Professor,Pleno,de R$ 8.001/mês a R$ 12.000/mês
10,Analista de BI/BI Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês
11,Analista de Inteligência de Mercado/Market Int...,Sênior,de R$ 8.001/mês a R$ 12.000/mês
12,,,
13,Analista de Negócios/Business Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
14,Varejo,Acima de 3.000,FALSE

In [51]:
data_table.shape # Proporção da tabela

(4271, 3)

In [52]:
data_table.to_csv("data.csv", header=True, index=False) # Criando novo CSV com a nova tabela feita

### Tratando os dados

#### Removendo linhas com células vazias

In [53]:
data_table = data_table.replace('', pd.NA) # Substituindo celulas vazias por NaN

data_table.head(n=15)

,Cargo,Experiencia,Salário
0,DBA/Administrador de Banco de Dados,Júnior,de R$ 8.001/mês a R$ 12.000/mês
1,Supervisor/Coordenador,<NA>,<NA>
2,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 12.001/mês a R$ 16.000/mês
3,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês
4,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 6.001/mês a R$ 8.000/mês
5,Professor,Pleno,de R$ 2.001/mês a R$ 3.000/mês
6,Analista de BI/BI Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
7,Desenvolvedor/ Engenheiro de Software/ Analist...,Júnior,de R$ 2.001/mês a R$ 3.000/mês
8,Analista de BI/BI Analyst,Sênior,de R$ 6.001/mês a R$ 8.000/mês
9,Professor,Pleno,de R$ 8.001/mês a R$ 12.000/mês
10,Analista de BI/BI Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês
11,Analista de Inteligência de Mercado/Market Int...,Sênior,de R$ 8.001/mês a R$ 12.000/mês
12,<NA>,<NA>,<NA>
13,Analista de Negócios/Business Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
14,Varejo,Acima de 3.000,FALSE

In [54]:
data_table = data_table.dropna() # Removendo linhas com esses valores NaN

data_table.head(n=15)

,Cargo,Experiencia,Salário
0,DBA/Administrador de Banco de Dados,Júnior,de R$ 8.001/mês a R$ 12.000/mês
2,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 12.001/mês a R$ 16.000/mês
3,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês
4,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 6.001/mês a R$ 8.000/mês
5,Professor,Pleno,de R$ 2.001/mês a R$ 3.000/mês
6,Analista de BI/BI Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
7,Desenvolvedor/ Engenheiro de Software/ Analist...,Júnior,de R$ 2.001/mês a R$ 3.000/mês
8,Analista de BI/BI Analyst,Sênior,de R$ 6.001/mês a R$ 8.000/mês
9,Professor,Pleno,de R$ 8.001/mês a R$ 12.000/mês
10,Analista de BI/BI Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês
11,Analista de Inteligência de Mercado/Market Int...,Sênior,de R$ 8.001/mês a R$ 12.000/mês
13,Analista de Negócios/Business Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
14,Varejo,Acima de 3.000,FALSE
15,Analista de BI/BI Analyst,Pleno,de R$ 4.001/mês a R$ 6.000/mês
18,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 6.001/mês a R$ 8.000/mês

In [55]:
data_table.shape # Tamanho após as remoções

(2790, 3)

#### Removendo inconsistências

##### Analisando quais são as categorias da coluna 'Salário'

In [56]:
data_table['Salário'].unique()

array(['de R$ 8.001/mês a R$ 12.000/mês',
       'de R$ 12.001/mês a R$ 16.000/mês',
       'de R$ 6.001/mês a R$ 8.000/mês', 'de R$ 2.001/mês a R$ 3.000/mês',
       'de R$ 4.001/mês a R$ 6.000/mês', 'de R$ 3.001/mês a R$ 4.000/mês',
       'FALSE', 'Empregado (CLT)', 'TRUE',
       'de R$ 1.001/mês a R$ 2.000/mês', 'Menos de R$ 1.000/mês',
       'de 11 a 50', ' CIO', 'de R$ 25.001/mês a R$ 30.000/mês',
       'Sudeste', 'de R$ 20.001/mês a R$ 25.000/mês',
       'de R$ 30.001/mês a R$ 40.000/mês', 'Seguros ou Previdência',
       'de 101 a 500', 'Acima de R$ 40.001/mês', ' CTO etc)"',
       'de R$ 16.001/mês a R$ 20.000/mês',
       'Tecnologia/Fábrica de Software', 'de 1.001 a 3.000', 'de 1 a 5',
       'Norte', 'Gerente/Head', 'Supervisor/Coordenador', 'Setor Público',
       'Área de Consultoria', 'Acima de 3.000',
       'Empreendedor ou Empregado (CNPJ)', 'Internet/Ecommerce',
       'de 501 a 1.000', 'Finanças ou Bancos', ' buscando recolocação"',
       'Outra Opção', 'SP', 'Trabalho na área Acadêmica/Pesquisador',
       'Outras Engenharias', 'Sul', 'Varejo', 'de 51 a 100',
       'Servidor Público', 'Nordeste', 'PB',
       'Vivo fora do Brasil e trabalho para empresa de fora do Brasil',
       'Setor Imobiliário/ Construção Civil', 'Setor de Energia',
       'Marketing',
       'Computação / Engenharia de Software / Sistemas de Informação/ TI',
       'Estagiário', 'São Paulo (SP)', 'BA', 'Setor Alimentício',
       'Setor Automotivo', 'Área da Saúde', 'Telecomunicação', 'SC',
       'Educação', 'Indústria',
       'Vivo no Brasil e trabalho remoto para empresa de fora do Brasil',
       'Freelancer', '"Desempregado', 'MG', 'Graduação/Bacharelado',
       'Pernambuco (PE)', 'de 6 a 10', 'Outra opção'], dtype=object)

Aparentemente as categorias corretas são as que possuem R$ na string

In [57]:
# Aplicando a mesma coisa em células da coluna salário que estão foram do padrão
data_table_copy = data_table.copy()
data_table_copy['Salário'] = data_table_copy['Salário'].apply(lambda row: row if 'R$' in row else pd.NA)

# Agora, atribuir a cópia de volta ao DataFrame original usando .loc[]
data_table.loc[:, 'Salário'] = data_table_copy['Salário']

data_table.head(n=15)

,Cargo,Experiencia,Salário
0,DBA/Administrador de Banco de Dados,Júnior,de R$ 8.001/mês a R$ 12.000/mês
2,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 12.001/mês a R$ 16.000/mês
3,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês
4,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 6.001/mês a R$ 8.000/mês
5,Professor,Pleno,de R$ 2.001/mês a R$ 3.000/mês
6,Analista de BI/BI Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
7,Desenvolvedor/ Engenheiro de Software/ Analist...,Júnior,de R$ 2.001/mês a R$ 3.000/mês
8,Analista de BI/BI Analyst,Sênior,de R$ 6.001/mês a R$ 8.000/mês
9,Professor,Pleno,de R$ 8.001/mês a R$ 12.000/mês
10,Analista de BI/BI Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês
11,Analista de Inteligência de Mercado/Market Int...,Sênior,de R$ 8.001/mês a R$ 12.000/mês
13,Analista de Negócios/Business Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
14,Varejo,Acima de 3.000,<NA>
15,Analista de BI/BI Analyst,Pleno,de R$ 4.001/mês a R$ 6.000/mês
18,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 6.001/mês a R$ 8.000/mês

In [58]:
data_table = data_table.dropna()

data_table.head(n=15)

,Cargo,Experiencia,Salário
0,DBA/Administrador de Banco de Dados,Júnior,de R$ 8.001/mês a R$ 12.000/mês
2,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 12.001/mês a R$ 16.000/mês
3,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês
4,Desenvolvedor/ Engenheiro de Software/ Analist...,Pleno,de R$ 6.001/mês a R$ 8.000/mês
5,Professor,Pleno,de R$ 2.001/mês a R$ 3.000/mês
6,Analista de BI/BI Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
7,Desenvolvedor/ Engenheiro de Software/ Analist...,Júnior,de R$ 2.001/mês a R$ 3.000/mês
8,Analista de BI/BI Analyst,Sênior,de R$ 6.001/mês a R$ 8.000/mês
9,Professor,Pleno,de R$ 8.001/mês a R$ 12.000/mês
10,Analista de BI/BI Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês
11,Analista de Inteligência de Mercado/Market Int...,Sênior,de R$ 8.001/mês a R$ 12.000/mês
13,Analista de Negócios/Business Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês
15,Analista de BI/BI Analyst,Pleno,de R$ 4.001/mês a R$ 6.000/mês
18,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 6.001/mês a R$ 8.000/mês
22,Product Manager/ Product Owner (PM/APM/DPM/GPM...,Pleno,de R$ 6.001/mês a R$ 8.000/mês

In [59]:
data_table.shape

(2386, 3)

#### Definindo as categorias de interesse da coluna 'Cargo'

In [60]:
data_table['Cargo'].unique()

array(['DBA/Administrador de Banco de Dados',
       'Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas',
       'Cientista de Dados/Data Scientist', 'Professor',
       'Analista de BI/BI Analyst',
       'Analista de Inteligência de Mercado/Market Intelligence',
       'Analista de Negócios/Business Analyst',
       'Engenheiro de Dados/Arquiteto de Dados/Data Engineer/Data Architect',
       'Product Manager/ Product Owner (PM/APM/DPM/GPM/PO)',
       'Analista de Dados/Data Analyst',
       'Analista de Suporte/Analista Técnico', 'Outra Opção',
       'Engenheiro de Machine Learning/ML Engineer', 'Analytics Engineer',
       'Analista de Marketing', 'Outras Engenharias (não inclui dev)',
       'Economista', 'Estatístico'], dtype=object)

Os cargos necessários são:

*    'Analista de Dados/Data Analyst',
*    'Cientista de Dados/Data Scientist',
*    'Engenheiro de Dados/Arquiteto de Dados/Data Engineer/Data Architect'

In [61]:
positions = ['Analista de Dados/Data Analyst',
             'Cientista de Dados/Data Scientist',
             'Engenheiro de Dados/Arquiteto de Dados/Data Engineer/Data Architect',
]

In [62]:
data_table_copy = data_table.copy()
data_table_copy['Cargo'] = data_table_copy['Cargo'].apply(lambda row: row if row in positions else pd.NA)

data_table.loc[:, 'Cargo'] = data_table_copy['Cargo'].values

data_table['Cargo'].head(15)

<ipython-input-62-b2e35968f45d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_table.loc[:, 'Cargo'] = data_table_copy['Cargo'].values

0                                                  <NA>
2                                                  <NA>
3                     Cientista de Dados/Data Scientist
4                                                  <NA>
5                                                  <NA>
6                                                  <NA>
7                                                  <NA>
8                                                  <NA>
9                                                  <NA>
10                                                 <NA>
11                                                 <NA>
13                                                 <NA>
15                                                 <NA>
18    Engenheiro de Dados/Arquiteto de Dados/Data En...
22                                                 <NA>
Name: Cargo, dtype: object

In [63]:
data_table = data_table.dropna()

data_table.head(n=15)

,Cargo,Experiencia,Salário
3,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês
18,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 6.001/mês a R$ 8.000/mês
23,Engenheiro de Dados/Arquiteto de Dados/Data En...,Sênior,de R$ 12.001/mês a R$ 16.000/mês
29,Cientista de Dados/Data Scientist,Júnior,de R$ 8.001/mês a R$ 12.000/mês
30,Analista de Dados/Data Analyst,Júnior,de R$ 3.001/mês a R$ 4.000/mês
31,Engenheiro de Dados/Arquiteto de Dados/Data En...,Júnior,de R$ 2.001/mês a R$ 3.000/mês
37,Engenheiro de Dados/Arquiteto de Dados/Data En...,Júnior,de R$ 2.001/mês a R$ 3.000/mês
41,Engenheiro de Dados/Arquiteto de Dados/Data En...,Júnior,de R$ 4.001/mês a R$ 6.000/mês
45,Cientista de Dados/Data Scientist,Sênior,de R$ 6.001/mês a R$ 8.000/mês
49,Engenheiro de Dados/Arquiteto de Dados/Data En...,Sênior,de R$ 8.001/mês a R$ 12.000/mês
51,Cientista de Dados/Data Scientist,Pleno,de R$ 6.001/mês a R$ 8.000/mês
53,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 8.001/mês a R$ 12.000/mês
57,Analista de Dados/Data Analyst,Sênior,de R$ 4.001/mês a R$ 6.000/mês
58,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,de R$ 8.001/mês a R$ 12.000/mês
61,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês

In [64]:
data_table.shape

(1336, 3)

#### Renomeando categorias da coluna 'Cargo'

In [65]:
labels = ['Analista', 'Cientista', 'Engenheira']
labels = dict(zip(positions, labels))

print(labels)

data_table.loc[:, 'Cargo'] = data_table['Cargo'].apply(lambda row: labels.get(row, row))



data_table.head(n=15)

{'Analista de Dados/Data Analyst': 'Analista', 'Cientista de Dados/Data Scientist': 'Cientista', 'Engenheiro de Dados/Arquiteto de Dados/Data Engineer/Data Architect': 'Engenheira'}

         Cargo Experiencia                           Salário
3    Cientista      Sênior  de R$ 12.001/mês a R$ 16.000/mês
18  Engenheira       Pleno    de R$ 6.001/mês a R$ 8.000/mês
23  Engenheira      Sênior  de R$ 12.001/mês a R$ 16.000/mês
29   Cientista      Júnior   de R$ 8.001/mês a R$ 12.000/mês
30    Analista      Júnior    de R$ 3.001/mês a R$ 4.000/mês
31  Engenheira      Júnior    de R$ 2.001/mês a R$ 3.000/mês
37  Engenheira      Júnior    de R$ 2.001/mês a R$ 3.000/mês
41  Engenheira      Júnior    de R$ 4.001/mês a R$ 6.000/mês
45   Cientista      Sênior    de R$ 6.001/mês a R$ 8.000/mês
49  Engenheira      Sênior   de R$ 8.001/mês a R$ 12.000/mês
51   Cientista       Pleno    de R$ 6.001/mês a R$ 8.000/mês
53  Engenheira       Pleno   de R$ 8.001/mês a R$ 12.000/mês
57    Analista      Sênior    de R$ 4.001/mês a R$ 6.000/mês
58  Engenheira       Pleno   de R$ 8.001/mês a R$ 12.000/mês
61   Cientista      Sênior  de R$ 12.001/mês a R$ 16.000/mês

#### Verificando categorias de cada coluna da tabela

In [66]:
data_table['Cargo'].unique()

array(['Cientista', 'Engenheira', 'Analista'], dtype=object)

In [67]:
data_table['Experiencia'].unique()

array(['Sênior', 'Pleno', 'Júnior'], dtype=object)

In [68]:
data_table['Salário'].unique()

array(['de R$ 12.001/mês a R$ 16.000/mês',
       'de R$ 6.001/mês a R$ 8.000/mês',
       'de R$ 8.001/mês a R$ 12.000/mês',
       'de R$ 3.001/mês a R$ 4.000/mês', 'de R$ 2.001/mês a R$ 3.000/mês',
       'de R$ 4.001/mês a R$ 6.000/mês',
       'de R$ 25.001/mês a R$ 30.000/mês',
       'de R$ 30.001/mês a R$ 40.000/mês',
       'de R$ 1.001/mês a R$ 2.000/mês', 'Acima de R$ 40.001/mês',
       'de R$ 20.001/mês a R$ 25.000/mês',
       'de R$ 16.001/mês a R$ 20.000/mês', 'Menos de R$ 1.000/mês'],
      dtype=object)

#### Fazendo novo CSV com a tabela já tratada

In [69]:
data_table.to_csv("data.csv", header=True, index=False)

## Aula 04

### Agrupamentos e agregações

In [70]:
print('Proporção:', data_table.shape)

data_table.head(15)

Proporção: (1336, 3)

         Cargo Experiencia                           Salário
3    Cientista      Sênior  de R$ 12.001/mês a R$ 16.000/mês
18  Engenheira       Pleno    de R$ 6.001/mês a R$ 8.000/mês
23  Engenheira      Sênior  de R$ 12.001/mês a R$ 16.000/mês
29   Cientista      Júnior   de R$ 8.001/mês a R$ 12.000/mês
30    Analista      Júnior    de R$ 3.001/mês a R$ 4.000/mês
31  Engenheira      Júnior    de R$ 2.001/mês a R$ 3.000/mês
37  Engenheira      Júnior    de R$ 2.001/mês a R$ 3.000/mês
41  Engenheira      Júnior    de R$ 4.001/mês a R$ 6.000/mês
45   Cientista      Sênior    de R$ 6.001/mês a R$ 8.000/mês
49  Engenheira      Sênior   de R$ 8.001/mês a R$ 12.000/mês
51   Cientista       Pleno    de R$ 6.001/mês a R$ 8.000/mês
53  Engenheira       Pleno   de R$ 8.001/mês a R$ 12.000/mês
57    Analista      Sênior    de R$ 4.001/mês a R$ 6.000/mês
58  Engenheira       Pleno   de R$ 8.001/mês a R$ 12.000/mês
61   Cientista      Sênior  de R$ 12.001/mês a R$ 16.000/mês

Criando coluna 'Quantidade' para realizar contagens.

In [71]:
data_table['Quantidade'] = 1

data_table.head(15)

         Cargo Experiencia                           Salário  Quantidade
3    Cientista      Sênior  de R$ 12.001/mês a R$ 16.000/mês           1
18  Engenheira       Pleno    de R$ 6.001/mês a R$ 8.000/mês           1
23  Engenheira      Sênior  de R$ 12.001/mês a R$ 16.000/mês           1
29   Cientista      Júnior   de R$ 8.001/mês a R$ 12.000/mês           1
30    Analista      Júnior    de R$ 3.001/mês a R$ 4.000/mês           1
31  Engenheira      Júnior    de R$ 2.001/mês a R$ 3.000/mês           1
37  Engenheira      Júnior    de R$ 2.001/mês a R$ 3.000/mês           1
41  Engenheira      Júnior    de R$ 4.001/mês a R$ 6.000/mês           1
45   Cientista      Sênior    de R$ 6.001/mês a R$ 8.000/mês           1
49  Engenheira      Sênior   de R$ 8.001/mês a R$ 12.000/mês           1
51   Cientista       Pleno    de R$ 6.001/mês a R$ 8.000/mês           1
53  Engenheira       Pleno   de R$ 8.001/mês a R$ 12.000/mês           1
57    Analista      Sênior    de R$ 4.001/mês a R$ 6.000/mês           1
58  Engenheira       Pleno   de R$ 8.001/mês a R$ 12.000/mês           1
61   Cientista      Sênior  de R$ 12.001/mês a R$ 16.000/mês           1

### Agregação das categorias da coluna 'Salário'

In [72]:
salario_agg = data_table[['Salário', 'Quantidade']].groupby('Salário').agg('sum').reset_index()

salario_agg.head(15)

                             Salário  Quantidade
0             Acima de R$ 40.001/mês          12
1              Menos de R$ 1.000/mês           8
2     de R$ 1.001/mês a R$ 2.000/mês          59
3   de R$ 12.001/mês a R$ 16.000/mês         192
4   de R$ 16.001/mês a R$ 20.000/mês          49
5     de R$ 2.001/mês a R$ 3.000/mês          75
6   de R$ 20.001/mês a R$ 25.000/mês          24
7   de R$ 25.001/mês a R$ 30.000/mês          13
8     de R$ 3.001/mês a R$ 4.000/mês          89
9   de R$ 30.001/mês a R$ 40.000/mês          17
10    de R$ 4.001/mês a R$ 6.000/mês         244
11    de R$ 6.001/mês a R$ 8.000/mês         234
12   de R$ 8.001/mês a R$ 12.000/mês         320

Criando dicionário para conseguir organizar a lista da tabela salario_agg pela coluna 'Salário'

In [79]:
salario_ordem = {
'Menos de R$ 1.000/mês': 0,
'de R$ 1.001/mês a R$ 2.000/mês': 1,
'de R$ 2.001/mês a R$ 3.000/mês': 2,
'de R$ 3.001/mês a R$ 4.000/mês': 3,
'de R$ 4.001/mês a R$ 6.000/mês': 4,
'de R$ 6.001/mês a R$ 8.000/mês': 5,
'de R$ 8.001/mês a R$ 12.000/mês': 6,
'de R$ 12.001/mês a R$ 16.000/mês': 7,
'de R$ 16.001/mês a R$ 20.000/mês': 8,
'de R$ 20.001/mês a R$ 25.000/mês': 9,
'de R$ 25.001/mês a R$ 30.000/mês': 10,
'de R$ 30.001/mês a R$ 40.000/mês': 11,
'Acima de R$ 40.001/mês': 12
}

In [ ]:
Criando a coluna que receberá o dicionário

In [80]:
salario_agg['Ordem'] = salario_agg['Salário'].apply(lambda row: salario_ordem[row])

salario_agg.head(15)

                             Salário  Quantidade  Ordem
0             Acima de R$ 40.001/mês          12     12
1              Menos de R$ 1.000/mês           8      0
2     de R$ 1.001/mês a R$ 2.000/mês          59      1
3   de R$ 12.001/mês a R$ 16.000/mês         192      7
4   de R$ 16.001/mês a R$ 20.000/mês          49      8
5     de R$ 2.001/mês a R$ 3.000/mês          75      2
6   de R$ 20.001/mês a R$ 25.000/mês          24      9
7   de R$ 25.001/mês a R$ 30.000/mês          13     10
8     de R$ 3.001/mês a R$ 4.000/mês          89      3
9   de R$ 30.001/mês a R$ 40.000/mês          17     11
10    de R$ 4.001/mês a R$ 6.000/mês         244      4
11    de R$ 6.001/mês a R$ 8.000/mês         234      5
12   de R$ 8.001/mês a R$ 12.000/mês         320      6

Ordenando pela coluna que foi criada

In [81]:
salario_agg = salario_agg.sort_values(by='Ordem', ascending=True)

salario_agg.head(15)

                             Salário  Quantidade  Ordem
1              Menos de R$ 1.000/mês           8      0
2     de R$ 1.001/mês a R$ 2.000/mês          59      1
5     de R$ 2.001/mês a R$ 3.000/mês          75      2
8     de R$ 3.001/mês a R$ 4.000/mês          89      3
10    de R$ 4.001/mês a R$ 6.000/mês         244      4
11    de R$ 6.001/mês a R$ 8.000/mês         234      5
12   de R$ 8.001/mês a R$ 12.000/mês         320      6
3   de R$ 12.001/mês a R$ 16.000/mês         192      7
4   de R$ 16.001/mês a R$ 20.000/mês          49      8
6   de R$ 20.001/mês a R$ 25.000/mês          24      9
7   de R$ 25.001/mês a R$ 30.000/mês          13     10
9   de R$ 30.001/mês a R$ 40.000/mês          17     11
0             Acima de R$ 40.001/mês          12     12

### Agregação das categorias da coluna 'Cargo'

In [85]:
salario_cargo_agg = data_table[['Cargo', 'Salário', 'Quantidade']].groupby(['Cargo', 'Salário']).agg('sum').reset_index()

salario_cargo_agg.head(15)

        Cargo                           Salário  Quantidade
0    Analista            Acima de R$ 40.001/mês           1
1    Analista             Menos de R$ 1.000/mês           4
2    Analista    de R$ 1.001/mês a R$ 2.000/mês          28
3    Analista  de R$ 12.001/mês a R$ 16.000/mês          35
4    Analista  de R$ 16.001/mês a R$ 20.000/mês           6
5    Analista    de R$ 2.001/mês a R$ 3.000/mês          36
6    Analista  de R$ 20.001/mês a R$ 25.000/mês           4
7    Analista  de R$ 25.001/mês a R$ 30.000/mês           2
8    Analista    de R$ 3.001/mês a R$ 4.000/mês          59
9    Analista  de R$ 30.001/mês a R$ 40.000/mês           5
10   Analista    de R$ 4.001/mês a R$ 6.000/mês         122
11   Analista    de R$ 6.001/mês a R$ 8.000/mês          91
12   Analista   de R$ 8.001/mês a R$ 12.000/mês         106
13  Cientista            Acima de R$ 40.001/mês           5
14  Cientista             Menos de R$ 1.000/mês           4

In [87]:
salario_cargo_agg['Ordem'] = salario_cargo_agg['Salário'].apply(lambda row: salario_ordem[row])


salario_cargo_agg.head(15)

        Cargo                           Salário  Quantidade  Ordem
0    Analista            Acima de R$ 40.001/mês           1     12
1    Analista             Menos de R$ 1.000/mês           4      0
2    Analista    de R$ 1.001/mês a R$ 2.000/mês          28      1
3    Analista  de R$ 12.001/mês a R$ 16.000/mês          35      7
4    Analista  de R$ 16.001/mês a R$ 20.000/mês           6      8
5    Analista    de R$ 2.001/mês a R$ 3.000/mês          36      2
6    Analista  de R$ 20.001/mês a R$ 25.000/mês           4      9
7    Analista  de R$ 25.001/mês a R$ 30.000/mês           2     10
8    Analista    de R$ 3.001/mês a R$ 4.000/mês          59      3
9    Analista  de R$ 30.001/mês a R$ 40.000/mês           5     11
10   Analista    de R$ 4.001/mês a R$ 6.000/mês         122      4
11   Analista    de R$ 6.001/mês a R$ 8.000/mês          91      5
12   Analista   de R$ 8.001/mês a R$ 12.000/mês         106      6
13  Cientista            Acima de R$ 40.001/mês           5     12
14  Cientista             Menos de R$ 1.000/mês           4      0

In [88]:
salario_cargo_agg = salario_cargo_agg.sort_values(by=['Cargo', 'Ordem'], ascending=[True, True])

salario_cargo_agg.head(100)

         Cargo                           Salário  Quantidade  Ordem
1     Analista             Menos de R$ 1.000/mês           4      0
2     Analista    de R$ 1.001/mês a R$ 2.000/mês          28      1
5     Analista    de R$ 2.001/mês a R$ 3.000/mês          36      2
8     Analista    de R$ 3.001/mês a R$ 4.000/mês          59      3
10    Analista    de R$ 4.001/mês a R$ 6.000/mês         122      4
11    Analista    de R$ 6.001/mês a R$ 8.000/mês          91      5
12    Analista   de R$ 8.001/mês a R$ 12.000/mês         106      6
3     Analista  de R$ 12.001/mês a R$ 16.000/mês          35      7
4     Analista  de R$ 16.001/mês a R$ 20.000/mês           6      8
6     Analista  de R$ 20.001/mês a R$ 25.000/mês           4      9
7     Analista  de R$ 25.001/mês a R$ 30.000/mês           2     10
9     Analista  de R$ 30.001/mês a R$ 40.000/mês           5     11
0     Analista            Acima de R$ 40.001/mês           1     12
14   Cientista             Menos de R$ 1.000/mês           4      0
15   Cientista    de R$ 1.001/mês a R$ 2.000/mês          16      1
18   Cientista    de R$ 2.001/mês a R$ 3.000/mês          24      2
21   Cientista    de R$ 3.001/mês a R$ 4.000/mês          18      3
23   Cientista    de R$ 4.001/mês a R$ 6.000/mês          59      4
24   Cientista    de R$ 6.001/mês a R$ 8.000/mês          82      5
25   Cientista   de R$ 8.001/mês a R$ 12.000/mês          99      6
16   Cientista  de R$ 12.001/mês a R$ 16.000/mês          77      7
17   Cientista  de R$ 16.001/mês a R$ 20.000/mês          26      8
19   Cientista  de R$ 20.001/mês a R$ 25.000/mês           9      9
20   Cientista  de R$ 25.001/mês a R$ 30.000/mês           4     10
22   Cientista  de R$ 30.001/mês a R$ 40.000/mês           9     11
13   Cientista            Acima de R$ 40.001/mês           5     12
27  Engenheira    de R$ 1.001/mês a R$ 2.000/mês          15      1
30  Engenheira    de R$ 2.001/mês a R$ 3.000/mês          15      2
33  Engenheira    de R$ 3.001/mês a R$ 4.000/mês          12      3
35  Engenheira    de R$ 4.001/mês a R$ 6.000/mês          63      4
36  Engenheira    de R$ 6.001/mês a R$ 8.000/mês          61      5
37  Engenheira   de R$ 8.001/mês a R$ 12.000/mês         115      6
28  Engenheira  de R$ 12.001/mês a R$ 16.000/mês          80      7
29  Engenheira  de R$ 16.001/mês a R$ 20.000/mês          17      8
31  Engenheira  de R$ 20.001/mês a R$ 25.000/mês          11      9
32  Engenheira  de R$ 25.001/mês a R$ 30.000/mês           7     10
34  Engenheira  de R$ 30.001/mês a R$ 40.000/mês           3     11
26  Engenheira            Acima de R$ 40.001/mês           6     12

#### Filtrar por cargo

In [89]:
salario_cargo_agg[salario_cargo_agg['Cargo'] == 'Analista'].head(15)

       Cargo                           Salário  Quantidade  Ordem
1   Analista             Menos de R$ 1.000/mês           4      0
2   Analista    de R$ 1.001/mês a R$ 2.000/mês          28      1
5   Analista    de R$ 2.001/mês a R$ 3.000/mês          36      2
8   Analista    de R$ 3.001/mês a R$ 4.000/mês          59      3
10  Analista    de R$ 4.001/mês a R$ 6.000/mês         122      4
11  Analista    de R$ 6.001/mês a R$ 8.000/mês          91      5
12  Analista   de R$ 8.001/mês a R$ 12.000/mês         106      6
3   Analista  de R$ 12.001/mês a R$ 16.000/mês          35      7
4   Analista  de R$ 16.001/mês a R$ 20.000/mês           6      8
6   Analista  de R$ 20.001/mês a R$ 25.000/mês           4      9
7   Analista  de R$ 25.001/mês a R$ 30.000/mês           2     10
9   Analista  de R$ 30.001/mês a R$ 40.000/mês           5     11
0   Analista            Acima de R$ 40.001/mês           1     12

### Agregação das categorias da coluna 'Experiência'

In [90]:
salario_cargo_experiencia_agg = data_table[['Cargo', 'Experiencia', 'Salário', 'Quantidade']].groupby(['Cargo','Experiencia', 'Salário']).agg('sum').reset_index()

salario_cargo_experiencia_agg.head(15)

       Cargo Experiencia                           Salário  Quantidade
0   Analista      Júnior             Menos de R$ 1.000/mês           4
1   Analista      Júnior    de R$ 1.001/mês a R$ 2.000/mês          26
2   Analista      Júnior    de R$ 2.001/mês a R$ 3.000/mês          34
3   Analista      Júnior    de R$ 3.001/mês a R$ 4.000/mês          46
4   Analista      Júnior    de R$ 4.001/mês a R$ 6.000/mês          54
5   Analista      Júnior    de R$ 6.001/mês a R$ 8.000/mês          12
6   Analista      Júnior   de R$ 8.001/mês a R$ 12.000/mês           1
7   Analista       Pleno    de R$ 1.001/mês a R$ 2.000/mês           1
8   Analista       Pleno  de R$ 12.001/mês a R$ 16.000/mês           5
9   Analista       Pleno  de R$ 16.001/mês a R$ 20.000/mês           1
10  Analista       Pleno    de R$ 2.001/mês a R$ 3.000/mês           2
11  Analista       Pleno  de R$ 20.001/mês a R$ 25.000/mês           2
12  Analista       Pleno  de R$ 25.001/mês a R$ 30.000/mês           1
13  Analista       Pleno    de R$ 3.001/mês a R$ 4.000/mês          12
14  Analista       Pleno    de R$ 4.001/mês a R$ 6.000/mês          60

In [91]:
salario_cargo_experiencia_agg['Ordem'] = salario_cargo_experiencia_agg['Salário'].apply(lambda row: salario_ordem[row])

salario_cargo_experiencia_agg.head(15)

       Cargo Experiencia                           Salário  Quantidade  Ordem
0   Analista      Júnior             Menos de R$ 1.000/mês           4      0
1   Analista      Júnior    de R$ 1.001/mês a R$ 2.000/mês          26      1
2   Analista      Júnior    de R$ 2.001/mês a R$ 3.000/mês          34      2
3   Analista      Júnior    de R$ 3.001/mês a R$ 4.000/mês          46      3
4   Analista      Júnior    de R$ 4.001/mês a R$ 6.000/mês          54      4
5   Analista      Júnior    de R$ 6.001/mês a R$ 8.000/mês          12      5
6   Analista      Júnior   de R$ 8.001/mês a R$ 12.000/mês           1      6
7   Analista       Pleno    de R$ 1.001/mês a R$ 2.000/mês           1      1
8   Analista       Pleno  de R$ 12.001/mês a R$ 16.000/mês           5      7
9   Analista       Pleno  de R$ 16.001/mês a R$ 20.000/mês           1      8
10  Analista       Pleno    de R$ 2.001/mês a R$ 3.000/mês           2      2
11  Analista       Pleno  de R$ 20.001/mês a R$ 25.000/mês           2      9
12  Analista       Pleno  de R$ 25.001/mês a R$ 30.000/mês           1     10
13  Analista       Pleno    de R$ 3.001/mês a R$ 4.000/mês          12      3
14  Analista       Pleno    de R$ 4.001/mês a R$ 6.000/mês          60      4

In [93]:
salario_cargo_experiencia_agg = salario_cargo_experiencia_agg.sort_values(by=['Cargo', 'Experiencia', 'Ordem'], ascending=[True, True, True])

salario_cargo_experiencia_agg.head(15)

       Cargo Experiencia                           Salário  Quantidade  Ordem
0   Analista      Júnior             Menos de R$ 1.000/mês           4      0
1   Analista      Júnior    de R$ 1.001/mês a R$ 2.000/mês          26      1
2   Analista      Júnior    de R$ 2.001/mês a R$ 3.000/mês          34      2
3   Analista      Júnior    de R$ 3.001/mês a R$ 4.000/mês          46      3
4   Analista      Júnior    de R$ 4.001/mês a R$ 6.000/mês          54      4
5   Analista      Júnior    de R$ 6.001/mês a R$ 8.000/mês          12      5
6   Analista      Júnior   de R$ 8.001/mês a R$ 12.000/mês           1      6
7   Analista       Pleno    de R$ 1.001/mês a R$ 2.000/mês           1      1
10  Analista       Pleno    de R$ 2.001/mês a R$ 3.000/mês           2      2
13  Analista       Pleno    de R$ 3.001/mês a R$ 4.000/mês          12      3
14  Analista       Pleno    de R$ 4.001/mês a R$ 6.000/mês          60      4
15  Analista       Pleno    de R$ 6.001/mês a R$ 8.000/mês          56      5
16  Analista       Pleno   de R$ 8.001/mês a R$ 12.000/mês          47      6
8   Analista       Pleno  de R$ 12.001/mês a R$ 16.000/mês           5      7
9   Analista       Pleno  de R$ 16.001/mês a R$ 20.000/mês           1      8

In [94]:
salario_cargo_experiencia_agg[salario_cargo_experiencia_agg['Cargo'] == 'Analista'].head(15)

       Cargo Experiencia                           Salário  Quantidade  Ordem
0   Analista      Júnior             Menos de R$ 1.000/mês           4      0
1   Analista      Júnior    de R$ 1.001/mês a R$ 2.000/mês          26      1
2   Analista      Júnior    de R$ 2.001/mês a R$ 3.000/mês          34      2
3   Analista      Júnior    de R$ 3.001/mês a R$ 4.000/mês          46      3
4   Analista      Júnior    de R$ 4.001/mês a R$ 6.000/mês          54      4
5   Analista      Júnior    de R$ 6.001/mês a R$ 8.000/mês          12      5
6   Analista      Júnior   de R$ 8.001/mês a R$ 12.000/mês           1      6
7   Analista       Pleno    de R$ 1.001/mês a R$ 2.000/mês           1      1
10  Analista       Pleno    de R$ 2.001/mês a R$ 3.000/mês           2      2
13  Analista       Pleno    de R$ 3.001/mês a R$ 4.000/mês          12      3
14  Analista       Pleno    de R$ 4.001/mês a R$ 6.000/mês          60      4
15  Analista       Pleno    de R$ 6.001/mês a R$ 8.000/mês          56      5
16  Analista       Pleno   de R$ 8.001/mês a R$ 12.000/mês          47      6
8   Analista       Pleno  de R$ 12.001/mês a R$ 16.000/mês           5      7
9   Analista       Pleno  de R$ 16.001/mês a R$ 20.000/mês           1      8